<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/layout">
<th:block layout:fragment="page_head">
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script>
		$(document).ready(function() {
			
			$("#reload").hide();

			$("#add").click(function() {

				var title = $("#title").val();
				var content = $("#content").val();
				var filename = $("#attachFile").text();

				var query = {
					title : title,
					content : content,
					filename : filename
				}
				
				console.log(filename);
				alert(filename);

				$.ajax({
					url : '/addwritepost',
					type : 'POST',
					data : query,
					success : function(data) {
						if (data == 1) {
							location.href = "/mainpost"
						} else {
							alert("오류발생!");

						}
					}
				});

			});
			
			$("#upload").click(function(){
			
				
// 				 event.preventDefault();
				 
				// Get form
			        var form = $('#formupload')[0];
			 
			        // Create an FormData object 
			        var data = new FormData(form);
			
			 
			        $.ajax({
			            type: "POST",
			            enctype: 'multipart/form-data',
			            url: "/fileupload",
			            data: data,
			            processData: false,
			            contentType: false,
			            cache: false,
			            timeout: 600000,
			            success: function (data) {
			            	
			            	if(data == "0"){
			            		
			            		alert("업로드실패");
			                
			            	}else{
			            		console.log(data);
			            		alert("업로드 완료");
				                $("#upload").hide();
				                $("#reload").show();
				                $("#attachFile").text(data);
			            	}
			            	
			            }
			        
			      });
			   

			});
			
			
			$("#reload").click(function(){
				
				alert("등록할 파일을 새로 선택해 주세요");
				$("#upload").show();
                $("#reload").hide();
                $("#attachFile").text("");
				
			});
		

		});
	</script>

	<style>
h2 {
	position: absolute;
	width: 900px;
	height: 500px;
	left: 50%;
	top: 50%;
	margin-left: -450px;
	margin-top: -450px;
}

#top {
	position: absolute;
	width: 900px;
	height: 500px;
	left: 50%;
	top: 50%;
	margin-left: -450px;
	margin-top: -350px;
}
</style>

</th:block>


<th:block layout:fragment="contents">


	<H2>게시글 등록</H2>

	<div id="top">
		<label for="exampleForm2">제목</label> <input type="text" id="title"
			class="form-control">

		<hr>

		<label for="exampleForm2">내용</label> <input type="text" id="content"
			class="form-control" style="padding-bottom: 462px;">

		<hr>
		
		<form method="post" enctype="multipart/form-data" id="formupload">
    	<input type="file" name="uploadfile" placeholder="파일 선택" /><br/>
		</form>
		
		<button id="upload" class="btn btn-primary btn-sm">업로드</button>
		<button id="reload" class="btn btn-info btn-sm">재등록</button>
		<p id="attachFile" style="display:none"></p>
		
		
		<button id="add" class="btn btn-primary"
			style="width: 150px; height: 55px; float: right; margin-right: 2%;">등록하기</button>

	</div>


		
		
</th:block>

</html>