<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/layout">

<th:block layout:fragment="page_head">
	<title>상세게시글</title>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
    
    <script>
    
    $(document).ready(function(){
    	
    
    
	$("#back").on('click',function(){
		
		window.location.href = "/mainpost";
		
		});
	
	
	$("#addcomment").click(function(){
		
		
		var comment = $("#comment").val();
		
		if(!comment){
			alert("댓글내용을 적어주세요!");
		}else{
		var url = document.location.href.split("/");

		var postnum = url[4];
		
		console.log(comment);
		console.log(postnum);
		
		var query = {comment : comment,
				num : postnum}
		
		$.ajax({
			url:"/addcomment",
			type:"POST",
			data : query,
			success : function(data){
				
				if(data == "1"){
					window.location.href = "/detailpost/"+postnum;
				}else{
					alert("에러발생");
				}
			}
		});
		}
	
	});
	
	
	$("#modify").click(function(){
		
	});
	
	
	$("#delete").click(function(){
		
		var url = document.location.href.split("/");

		var postnum = url[4];
		
		
		$.ajax({
			url : "/postdelete",
			type:"POST",
			data : {postnum : postnum},
			success : function(data){
				
				alert("삭제완료");
				
				window.location.href = "/mainpost";
				
			}
		});
		
	});
	

	
});
    
    </script>
    
    <style>
h2 {
	position: absolute;
	width: 900px;
	height: 500px;
	left: 50%;
	top: 50%;
	margin-left: -450px;
	margin-top: -450px;
}

h2 > button {

	float:right;
	margin : 2px;
	

}

#top {
	position: absolute;
	width: 900px;
	height: 500px;
	left: 50%;
	top: 50%;
	margin-left: -450px;
	margin-top: -350px;
}


    </style>
</th:block>


<th:block layout:fragment="contents">

<H2>상세게시글
	
	<button th:if="${grant == 1}" type="button" id="modify" class="btn btn-primary">수정하기</button>
	<button th:if="${grant == 1}" type="button" id="delete" class="btn btn-danger">삭제하기</button>
	<button type="button" class="btn btn-info" id="back">목록으로</button>
	
</H2>


	

	<div id="top" th:if="${post != null}">
	
		
		<label for="exampleForm2">제목</label> <label id="title"
			class="form-control" th:text="${post[0].post_title}" style="padding-bottom: 30px;"></label>

		<hr>

		<label for="exampleForm2">내용</label> <label id="content"
			class="form-control" th:text="${post[0].post_info}" style="padding-bottom: 300px; overflow-y:scroll"></label>

		<hr>
		
		<label for="exampleForm2">첨부파일</label>
		
		<div th:if="${file != null}">
			
			<label>파일 이름 - </label>
<!-- 			<a href="${file.at_uid}" class="files" th:text="${file.at_name}" download="newfile"></a> -->
			<label class="file_name" th:text="${file.at_name}"></label>
			<span class="file_size" th:text="' ( '+${file.at_size_do} + ' MB )'"></span>
<!-- 			<label th:text="${file.at_dt_char}" style="float:right"></label><br> -->
<!-- 			<label class="fileuid" th:text="${file.at_uid}" style="display:none"></label> -->
			
			<form action="/downloadFile" method="post">
			    <input type="hidden" name="fileuid" th:value="${file.at_uid}">
			    <input type="hidden" name="filename" th:value="${file.at_name}">
    			<input type="submit" value="다운로드">
			</form>
			
			
		</div>
		
		<hr>
		
	<label for="exampleForm2">댓글목록</label>
		<div id="bottom" th:if="${comment != null}" th:each="comment : ${comment}">
			<label th:text="${comment.user_id}"></label><span style="float:right;" th:text="${comment.cmt_dt_char}"></span><br>
			<label th:text="${comment.cmt_info}"></label>
			<hr>
		</div>
		
		
		<input id="comment"
			class="form-control" style="padding-bottom: 50px;"></input>
		<button id="addcomment" class="btn btn-primary" style="float:right; margin-top:2%;">댓글달기</button>
		

	</div>
	
	
	

</th:block>

</html>