<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
<!-- 공통 설정(css, js등) -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
<!-- Required meta tags -->
    <meta name="description" content="Coral - Onepage portfolio Template">
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- 개별 설정 : 각 .html파일에서 아래의 태그들을 선언하고 태그안에 내용을 적어주면 됨-->
<th:block layout:fragment="page_head"></th:block>
<th:block layout:fragment="page_lib"></th:block>
<th:block layout:fragment="page_css"></th:block>



</head>
</html>